/*******************************/
/***** ARCHIVE AREA STYLES *****/
/*******************************/

#archiveContainer {
  width: 100%;
  height: auto;

  /* TODO: edit background-color to #f27126 */
  background-color: #f27126;
  color: #fff;
  font-family: "Oswald-Medium", arial, sans-serif;
  overflow-y: hidden;
  padding-bottom: 6%;
}

/* #archiveContainer .athleteServiceChoiceContainer {
  border: 3px #fff solid;
  height: 300px;
} */

#archiveContainer .servicesGalleryHeaderText {
  font-size: 2em;
  text-shadow: 1px 2px 2px #333;
  margin-top: 20px;
}

#archiveContainer .servicesGalleryDate {
  font-size: 1.4em;
  text-shadow: 1px 2px 2px #333;
  margin-top: 10px;
  margin-bottom: 120px;
}


/* TODO: Fold these row styles into each column style to allow for fluid elements */
/* TODO: Hide rows that do not match their break points */
/* #archiveContainer .servicesGallery {
  max-width: 1080px;
  padding: 0;
  margin: 2% auto;
  text-align: center;
} */

/* TODO: ADD PROPER PSEUDO SELECTOR: LEFT */
/* TODO: DO NOT RESTYLE BOOTSTRAP DEFAULTS */
/* #archiveContainer .col-lg-4.crossfitService {
  max-width: 29.33333333%;
  margin: 0 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/crossfit-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
} */

/* TODO: ADD PROPER PSEUDO SELECTOR: CENTER */
/* #archiveContainer .col-lg-4.conditioningService {
  max-width: 29.33333333%;
  margin-right: 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/conditioning-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
} */

/* TODO: ADD PROPER PSEUDO SELECTOR: RIGHT */
/* #archiveContainer .col-lg-4.personalTrainingService {
  max-width: 29.33333333%;
  margin-right: 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/personal-training-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
} */

/* MEDIUM BREAK POINT IS BELOW 768px */
/* #archiveContainer .col-md-6:nth-child(even) {
  max-width: 45.5%;
  margin: 1.5% 3% 1.5% 0;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/crossfit-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

#archiveContainer .col-md-6:nth-child(odd) {
  max-width: 45.5%;
  margin: 1.5% 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/conditioning-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

#archiveContainer .col-sm-12,
#archiveContainer .col-12 {
  max-width: 94%;
  margin: 1.5% 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/conditioning-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}
*/
#archiveContainer .athleteServicesHeaderText > .col-12 {
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  font-size: 3em;
  background: #f27126;
  margin: 0;
  max-width: 100%;
  margin: 3% 0;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}
/*
#archiveContainer .get-started {
  letter-spacing: 0.05em;
  background: #fff;
  border-color: #fff;
  color: #f27126;
}

#archiveContainer .get-started:hover {
  background: #f27126;
  color: #fff;
} */

/* DEPENDING ON WIDTH, GIVE DIFFERENT SPACING */
.card {
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  overflow: hidden;
}

.card-spacing {
  margin: 5% 2.5%;
}

/* TODO: Add media queries to address button and width sizes before break point */
/* TODO: Add media queries to address padding for cards within list at (2) break points */
.card .card-styling {
  background: #ccc;
  border: 3px #fff solid;
  border-radius: 0;
  width: 100%;
  height: auto;
  /* height: 300px; */
}

.card .card-text-styles {
  line-height: 0.5;
}

.btn.card-button {
  margin: 2.5% auto;
  align-content: center;
  background: #f27126;
  border: 3px solid #f27126;
  border-radius: 0;
}
  .btn.card-button:hover {
    color: #f27126;
    background: #fff;
  }

/**********************
** PAGINATION STYLES **
**********************/
.pagination-nav {
  align-content: center;
}

.page-link, .page-link:hover, .page-link:visited {
  color: #6d6e70;
  border-color: #6d6e70;
  cursor: pointer;
}

.page-link.active {
  background: #6d6e70;
  color: #fff;
}

.pagination-icon {
  color: #6d6e70;
}
