/*******************************/
/***** ARCHIVE AREA STYLES *****/
/*******************************/

#archiveContainer {
  width: 100%;
  height: auto;

  /* TODO: edit background-color to #f27126 */
  background-color: #f27126;
  color: #fff;
  font-family: "Oswald-Medium", arial, sans-serif;
  overflow-y: hidden;
  padding-bottom: 6%;
}

#archiveContainer .athleteServiceChoiceContainer {
  border: 3px #fff solid;
  height: 300px;
}

/* #archiveContainer .athleteServicesHeaderText {
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  font-size: 3em;

  margin: 3% 0;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
} */

#archiveContainer .servicesGallery {
  max-width: 100%;
  padding: 0;
  margin: 2% auto;
  text-align: center;
}

#archiveContainer .servicesGalleryHeaderText {
  font-size: 2em;
  text-shadow: 1px 2px 2px #333;
  margin-top: 20px;
  /* Push button and link down due to odd anchor tag position inside of image */
  /* margin-bottom: 160px; */
}

#archiveContainer .servicesGalleryDate {
  font-size: 1.4em;
  text-shadow: 1px 2px 2px #333;
  margin-top: 10px;
  margin-bottom: 120px;
}

/* SANDBOX LAYOUT */
/* EXTRA LARGE BREAK POINT IS GREATER THAN 1200px */
/* LARGE BREAK POINT IS BELOW 768px */


/* TODO: Fold these row styles into each column style to allow for fluid elements */
/* TODO: Hide rows that do not match their break points */
#archiveContainer .servicesGallery {
  max-width: 100%;
  padding: 0;
  margin: 2% auto;
  text-align: center;
}

/* TODO: ADD PROPER PSEUDO SELECTOR: LEFT */
#archiveContainer .col-lg-4.crossfitService {
  max-width: 29.33333333%;
  margin: 0 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/crossfit-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* TODO: ADD PROPER PSEUDO SELECTOR: CENTER */
#archiveContainer .col-lg-4.conditioningService {
  max-width: 29.33333333%;
  margin-right: 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/conditioning-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* TODO: ADD PROPER PSEUDO SELECTOR: RIGHT */
#archiveContainer .col-lg-4.personalTrainingService {
  max-width: 29.33333333%;
  margin-right: 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/personal-training-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* MEDIUM BREAK POINT IS BELOW 768px */
#archiveContainer .col-md-6:nth-child(even) {
  max-width: 45.5%;
  margin: 1.5% 3% 1.5% 0;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/crossfit-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

#archiveContainer .col-md-6:nth-child(odd) {
  max-width: 45.5%;
  margin: 1.5% 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/conditioning-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

#archiveContainer .col-sm-12,
#archiveContainer .col-12 {
  max-width: 94%;
  margin: 1.5% 3%;
  background: #f27126 url(../img/optimization_tinyjpg/compressed/conditioning-home-page.jpg) no-repeat center center scroll;
  background-size: cover;
}

#archiveContainer .athleteServicesHeaderText > .col-12 {
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  font-size: 3em;
  background: #f27126;
  margin: 0;
  max-width: 100%;
  margin: 3% 0;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}

#archiveContainer .get-started {
  letter-spacing: 0.05em;
  background: #fff;
  border-color: #fff;
  color: #f27126;
}

#archiveContainer .get-started:hover {
  background: #f27126;
  color: #fff;
}


.pagination-nav {
  align-content: center;
}

.page-link, .page-link:hover, .page-link:visited {
  color: #f27126;
  cursor: pointer;
}

.page-link.active {
  background: #f27126;
  color: #fff;
}
