.alert-link {
  color: #fff !important;
}

/********************************/
/***** CALENDAR AREA STYLES *****/
/********************************/
#calendarContainer {
  height: 440vh;
  width: 100%;
  background: rgb(245,245,245);
}

.calendar-title {
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  font-size: 3em;
  color: #f27126;
  padding-top: 8vh;
  text-align: center;
}

/*.calendar-description {
  font-family: "Oswald-SemiBold", arial, sans-serif;
  font-size: 1.8em;
  color: #f27126;
  margin-top: 4vh;
  text-align: center;
}*/

.dropdown-style {
  background: #f27126 !important;
  color: #fff !important;
  border-color: #f27126 !important;
  border-radius: 0 !important;
  margin-left: 5%;
}

.calendar-week {
  font-family: "Oswald-SemiBold", arial, sans-serif;
  font-size: 1.2em;
  color: #f27126;
  margin-top: 3vh;
  padding-left: 5%;
  padding-bottom: 1vh;
  text-align: left;
}

.calendar-dropdown a {
  padding: 2vh;
  margin-top: 6vh;
}


/*Hide overflow*/

.users {
  table-layout: fixed;
  margin: auto;
  width: 90%;
  white-space: nowrap;
}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom-color: #fff;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.users td.bottom-border-design {
  border-bottom-color: #f27126;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.users th {
  background: #f27126;
  color: white;
}
.users td,
.users th {
  height: 6vh;
  padding: 0;
}

.calendar-dark {
  background: rgba(202,202,202,0.7);
}

/* Column widths are based on these cells */
.row-header {
  width: 9%;
}
.row-wod {
  width: 13%;
}

.cell-design-top {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #fff;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #fff;
}

.cell-design-left {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #fff;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #fff;
}

.cell-design-right {
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: #fff;
}

/*Time during the day, e.g. the 11:00am row*/
.calendar-time {
  font-size: 0.8em;
}

/*Time for each class, e.g. Crossfit is from "11a-12p"*/
.class-time {
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.8);
}

/*For top cells - light border-top & border-bottom is dark*/
.top-wod-connected-first-row {
  width: 100%;
  border-top-color: #fff;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #f27126;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding-top: 100%;
  margin-right: 2.5%;
  background: #f27126;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
}

.wod-hr {
  background: #fff;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fff;
  height: 1px;
  color: white;
  margin: 0 10%;
}

.border-bottom {
  border-bottom-color: #f27126;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
