/*******************************/
/***** GENERAL PAGE STYLES *****/
/*******************************/

#parent-container {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

button:focus {
  outline:0 !important;
}

::selection {
  background: #f27126; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #f27126; /* Gecko Browsers */
  color: #fff;
}

/*****************************/
/***** NAVIGATION STYLES *****/
/*****************************/

#nav-container {
  z-index: 1;
  /* Alert container height offset to work with fixed-top navigation bar */
  padding-top: 76px;
  padding-right:0;
  width: 100%;
  font-family: "Oswald-SemiBold", arial, sans-serif;
  letter-spacing: 0.05em;
}

.navbar-light {
  background-color: #fff;
}

.nav-get-started {
  letter-spacing: 0.05em;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f27126;
}

.dropdown-menu {
  border-width: 3px;
}

.dropdown-item {
  color: rgba(0,0,0,0.5);
}

.dropdown-item:hover {
  background-color: #f27126;
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-divider {
  border-top: 3px solid #e9ecef;
}

/*.dropdown-toggle {
  -webkit-transition: -webkit-transform .95s ease-in-out;
          transition:         transform .95s ease-in-out;
}
.dropdown-toggle:hover .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}*/

.fa-caret-down {
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.fa-caret-down.caret-hover {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.btn-dark {
  color: #fff;
  background-color: #f27126;
  border-width: 3px;
  border-color: #f27126;
  border-radius: 0px;
  transition: .25s;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  background-color: rgba(255,255,255,1);
  color: #f27126;
  border-width: 3px;
  border-color: #f27126;
  cursor: pointer;
}


/********************************/
/*** Hamburger effect classes ***/
/********************************/

.hamburgler {
  width: 28px;
  height: 28px;
  display: block;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.hamburgler.no-hamburgler {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bun,
.meat {
  display: block;
  width: 100%;
  background: #f27126;
  height: 21%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 0;
}

.no-hamburgler .top {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 0;
}

.no-hamburgler .bottom {
  height: 40%;
  width: 20%;
  margin-left: 40%;
  border-radius: 0;
}

.meat {
  margin: 19% 0;
}
.no-hamburgler .meat {
  margin: 0;
}


  .sub-menu {
    z-index: 1;
    opacity: 0.975;
    position: fixed;
    /*margin-top: 80px;*/
    width: 0%;
    right: -100%;
    /*width: 100%;
    right: 0%;*/
    height: 100vh;
    font-family: "Gobold-Bold-Italic", arial, sans-serif;
    font-size: 3em;
    text-align: center;
    color: #fff;
    background-color: #f27126;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    overflow: hidden;
    padding-top: 12vh;
  }

  .sub-menu .open-menu {
    width: 100%;
    right: 0%;
  }

    .sub-menu-items {
      text-align: center;
      list-style: none;
      padding-top: 7vh;
      font-size: 0.8em;
    }

      .sub-menu-items li {
        margin-right: 40px;
        padding-top: 2vh;
      }

      .sub-menu-items li:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .sub-nav-button {
        margin-top: 5vh;
        padding: 2vh 6vh;
        background-color: rgba(255,255,255,1);
        color: #f27126;
        border-width: 3px;
        border-color: #fff;
        cursor: pointer;
      }

      .sub-nav-button:hover,
      .sub-nav-button:active,
      .sub-nav-button:focus {
        background-color: rgba(255,255,255,.05);
        color: #fff;
        border-width: 3px;
        border-color: #fff;
        cursor: pointer;
      }

/************************/
/***** ALERT STYLES *****/
/************************/
#alertContainer {
  width: 100%;
  margin-bottom: -14px;
}

.alert {
  background-color: #f27126;
  border-radius: 0;
  border-color: #f27126;
  color: #fff;
}

button.close span {
  color: #fff;
  text-shadow: 0 0px 0 #fff;
}

button.close {
  opacity: 1;
}

button.close span:hover {
  cursor: pointer;
}

.alert-link,
.alert-link:hover,
.alert-link:active,
.alert-link:visited {
  color: #fff;
  opacity: 0.8;
}


/****************************/
/***** HERO AREA STYLES *****/
/****************************/
#heroContainer {
  height: 70vh;
  width: 100%;
  background: #f27126;
  background: url(../img/ropes-coach.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#heroContainer h1 {
  font-size: 4rem;
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
}

#heroContainer .place-hero-button-start,
#heroContainer .place-hero-button-learn {
  padding-top: 9vh;
}

#heroContainer .get-started {
  font-size: 1.1em;
  font-weight: 600;
  border-width: 3px;
  padding: 15px 60px 15px;
  background-color: #f27126;
  border-color: #f27126;
  color: #fff;
  transition: 0.25s;
}

#heroContainer .learn-more {
  font-size: 1.1em;
  font-weight: 600;
  border-width: 3px;
  padding: 15px 60px 15px;
  background-color: rgba(255,255,255,0.2);
  border-color: #fff;
  color: #fff;
  transition: 0.25s;
}

#heroContainer .get-started:hover,
#heroContainer .learn-more:hover {
  background-color: #fff;
  border-color: #fff;
  color: #f27126;
}

.lightText {
  padding-top: 20vh;
  text-align: center;
  color: rgba(255,255,255,0.95);
}

.lightText .lightTextDynamic {
  color: #f27126;
}


/*********************************/
/***** WHAT IS CROSSFIT AREA *****/
/*********************************/
#defineCrossfitContainer {
  width: 100%;
  height: auto;
  padding: 4% 0 2%;
  background-color: #f27126;
  color: #fff;
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
}

#defineCrossfitContainer .background-fitness {
  color: #fff;
  text-align: center;
}

#defineCrossfitContainer .background-fitness h1 {
  font-size: 3em;
  padding-top: 0.15em;
}

#defineCrossfitContainer .background-fitness h2 {
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 0.75em;
}

#defineCrossfitContainer .fitness100Words {
  padding-top: 10px;
  font-family: "Oswald-SemiBold", arial, sans-serif;
}

#defineCrossfitContainer h1 {
  font-size: 4em;
}

#defineCrossfitContainer h2 {
  padding-top: 12px;
  line-height: 1.4;
}

#defineCrossfitContainer h3 {
  padding-top: 18px;
  line-height: 1.3;
  font-family: "Oswald-Medium", arial, sans-serif;
}

#defineCrossfitContainer h4 {
  padding-top: 14px;
  padding-bottom: 2%;
  font-family: "Oswald-Medium", arial, sans-serif;
}


/***************************/
/***** PIT AREA STYLES *****/
/***************************/
#pitContainer {
  width: 100%;
  height: 55vh;
  background-color: #f27126;
  background: url(../img/pit-image.png) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pitContainer .pit-button-placement {
  padding-top: 8vh;
}

#pitContainer .pit-button {
  font-size: 1.1em;
  font-weight: 600;
  border-width: 3px;
  padding: 15px 60px 15px;
  background-color: rgba(255,255,255,0.2);
  border-color: #fff;
  color: #fff;
  transition: 0.25s;
}

#pitContainer .pit-button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #f27126;
}

#pitContainer .pit-text h1 {
  padding-top: 16vh;
  font-size: 4em;
  color: #fff;
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
}


/********************************/
/***** DAILY WORKOUT STYLES *****/
/********************************/
.wodBox {
  height: 36vh;
  width: 260px;
  margin-top: 40px;
  margin-left: 17.5%;
  background-color: #fff;
}

.wodTitle{
  height: 6vh;
  width: 100%;
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 5px;
  color: #fff;
  background-color: #f27126;
}

.wodDate {
  height: 6vh;
  width: 100%;
  font-weight: 500;
  padding-top: 5px;
  background-color: orange;
}


#wodsContainer {
  width: 100%;
  background-color: lightblue;
  overflow: hidden;

  /*TEST HEIGHT*/
  height: 100%;
}

#wodsContainer .col-1 {
  background-color: purple;
}

#wodsContainer .col-10 {
  background-color: lightblue;
}

/*Nested row 1*/
#wodsContainer .red {
  background-color: red;
}

#wodsContainer .orange {
  background-color: #fff;
}

#wodsContainer .green {
  background-color: green;
}

#wodsContainer .gold {
  background-color: gold;
}

#wodsContainer .tan {
  background-color: tan;
}

#plansContainer {
  width: 100%;
  height: 60vh;
  color: #fff;
  background-color: tomato;

}

/*******************************
****** FOOTER AREA STYLES ******
*******************************/

#footerContainer {
  width: 100%;
  height: 30vh;
  font-family: "Oswald-SemiBold", arial, sans-serif;
  overflow: hidden;
}

#footerContainer .footer-row {
  margin: 3% 1.5%;
}

#footerContainer .fa-2x {
  font-size: 1.5em;
  margin-top: 50%;
}

#footerContainer .copyright-text {
  padding-top: 20px;
  font-size: 0.8em;
  color: rgba(0,0,0,0.5)
}

#footerContainer .footer-link {
  font-size: 1em;
  letter-spacing: 0.05em;
  color: rgba(0,0,0,0.5);
}

#footerContainer .footer-link:hover {
  color: rgba(0,0,0,0.6);
  text-decoration: none;
}

#footerContainer .footer-text {
  margin-left: 25%;

}

#footerContainer .twitter-button,
#footerContainer .facebook-button,
#footerContainer .instagram-button {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.25s;
}

#footerContainer .twitter-button:hover,
#footerContainer .facebook-button:hover,
#footerContainer .instagram-button:hover {
  color: #f27126;
  transition: 0.25s;
}




/******************************
******** MEDIA QUERIES ********
******************************/

@media (min-width: 550px) and (max-width: 700px) {

  #heroContainer {
		height: 60vh;
	}

  #heroContainer h1 {
		font-size: 3em;
	}

  .lightText {
    padding-top: 17vh;
  }

  #heroContainer .place-hero-button-start,
  #heroContainer .place-hero-button-learn {
    padding-top: 8vh;
  }

  #heroContainer .get-started,
  #heroContainer .learn-more {
    font-size: .9em;
    font-weight: 600;
    border-width: 3px;
    padding: 12px 48px 12px;
  }

  #pitContainer {
    width: 100%;
    height: 56vh;
    background-color: #f27126;
    background: url(../img/pit-image.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #pitContainer .pit-button-placement {
    padding-top: 11vh;
  }

  #pitContainer .pit-text h1 {
    padding-top: 15vh;
    font-size: 3em;
    color: #fff;
    font-family: "Gobold-Bold-Italic", arial, sans-serif;
  }

}

@media (min-width: 450px) and (max-width: 549px) {

  #heroContainer {
		height: 50vh;
	}

  #heroContainer h1 {
		font-size: 2.5em;
	}

  .lightText {
    padding-top: 14vh;
  }

  #heroContainer .place-hero-button-start,
  #heroContainer .place-hero-button-learn {
    padding-top: 5vh;
  }

  #heroContainer .get-started,
  #heroContainer .learn-more {
    font-size: 0.85em;
    font-weight: 600;
    border-width: 3px;
    padding: 12px 25px 12px;
  }

  #pitContainer {
    width: 100%;
    height: 42vh;
    background-color: #f27126;
    background: url(../img/pit-image.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #pitContainer .pit-button-placement {
    padding-top: 6vh;
  }

  #pitContainer .pit-text h1 {
    padding-top: 12vh;
    font-size: 2.5em;
    color: #fff;
    font-family: "Gobold-Bold-Italic", arial, sans-serif;
  }

}

@media (min-width: 350px) and (max-width: 449px) {

  .sub-menu .menu-title {
    font-size: .8em;
  }

  .sub-menu-items {
    text-align: center;
    list-style: none;
    padding-top: 5vh;
    font-size: 0.55em;
  }

    .sub-menu-items li {
      margin-right: 40px;
      padding-top: 1.5vh;
    }

    .sub-menu-items li:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .sub-nav-button {
      margin-top: 3.5vh;
      padding: 3vh 9vh;
    }

  #heroContainer {
		height: 40vh;
	}

  #heroContainer h1 {
		font-size: 2em;
	}

  .lightText {
    padding-top: 12vh;
  }

  #alertContainer{
    font-size: 0.75em
  }

  #heroContainer .place-hero-button-start,
  #heroContainer .place-hero-button-learn {
    padding-top: 3vh;
  }

  #heroContainer .get-started,
  #heroContainer .learn-more {
    font-size: 0.8em;
    font-weight: 700;
    border-width: 3px;
    padding: 12px 25px 12px;
  }

  #pitContainer {
    width: 100%;
    height: 28vh;
    background-color: #f27126;
    background: url(../img/pit-image.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #pitContainer .pit-button-placement {
    padding-top: 2.5vh;
  }

  #pitContainer .pit-text h1 {
    padding-top: 7vh;
    font-size: 2em;
    color: #fff;
    font-family: "Gobold-Bold-Italic", arial, sans-serif;
  }

}

@media (min-width: 1px) and (max-width: 349px) {

  .sub-menu .menu-title {
    font-size: .55em;
  }

  .sub-menu-items {
    text-align: center;
    list-style: none;
    padding-top: 5vh;
    font-size: 0.35em;
  }

    .sub-menu-items li {
      margin-right: 40px;
      padding-top: 1.5vh;
    }

    .sub-menu-items li:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .sub-nav-button {
      margin-top: 3.5vh;
      padding: 2.85vh 8.55vh;
    }

  #heroContainer {
		height: 30vh;
	}

  #heroContainer h1 {
		font-size: 1.3em;
	}

  .lightText {
    padding-top: 8vh;
  }

  #alertContainer{
    font-size: 0.75em
  }

  #heroContainer .place-hero-button-start,
  #heroContainer .place-hero-button-learn {
    padding-top: 2vh;
  }

  #heroContainer .get-started,
  #heroContainer .learn-more {
    font-size: 0.6em;
    font-weight: 600;
    border-width: 3px;
    padding: 7px 20px 7px;
  }

  #pitContainer {
    width: 100%;
    height: 21vh;
    background-color: #f27126;
    background: url(../img/pit-image.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #pitContainer .pit-button-placement {
    padding-top: 2vh;
  }

  #pitContainer .pit-text h1 {
    padding-top: 4vh;
    font-size: 1.35em;
    color: #fff;
    font-family: "Gobold-Bold-Italic", arial, sans-serif;
  }

}
