#servicesContainer {
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url(../img/foundations-hero-big.jpg) no-repeat center 30% scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#servicesContainer h1 {
  font-size: 5em;
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  padding-top: 160px;
  text-align: center;
}

#servicesContainer h1.lightText {
  text-shadow: 1px 1px 1px #000;
}

#servicesContainer h2 {
  font-size: 2.5em;
  font-family: "Oswald-Medium", arial, sans-serif;
  padding-top: 30px;
  text-align: center;
}

#servicesContainer h2.lightText {
  text-shadow: 1px 1px 1px #000;
}

/*******************************/
/* servicesTextButtonContainer */
/*******************************/

#servicesTextButtonContainer {
  background: #f27126;
  color: #fff;
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
}

#servicesTextButtonContainer .servicesRowStyle {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5% 2.5%;
  text-align: center;
}

#servicesTextButtonContainer .colTextStyle {
  background: rgba(255,255,255,0.1);
  padding: 1em;
  margin: 0 2.5%;
  max-width: 45%;
}

#servicesTextButtonContainer .colButtonStyle {
  background: rgba(255,255,255,0.1);
  text-align: center;
  margin: 0 2.5%;
  max-width: 45%;
}

#servicesTextButtonContainer .serviceDescriptionTitleText {
  font-size: 2.2em;
  font-weight: 600;
}

#servicesTextButtonContainer .serviceDescriptionText {
  font-size: 1em;
  font-weight: 400;
}

#servicesTextButtonContainer .serviceLearnMoreText {
  font-size: 2em;
  text-align: center;
}

#servicesTextButtonContainer .get-started {
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  letter-spacing: 0.05em;
  background: #fff;
  border-color: #fff;
  color: #f27126;
  padding: 6% 18%;
  border: 3px #fff solid;
  cursor: pointer;
}

#servicesTextButtonContainer .get-started:hover {
  background: #f27126;
  color: #fff;
}

#servicesTextButtonContainer .serviceButtonPosition {
  margin: 8% 0;
}

#servicesTextButtonContainer .serviceButtonPosition:first-of-type {
  margin-top: 8%;
}


/*****************************
servicesImageContainer styles
*****************************/

#servicesImageContainer {
  background: #6D6E70;
  color: #fff;
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
}

#servicesImageContainer .servicesRowStyle {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5% 2.5%;
  text-align: center;
}

#servicesImageContainer .colTextStyle {
  background: rgba(255,255,255,0.1);
  padding: 1em;
  margin: 0 2.5%;
  max-width: 45%;
}

#servicesImageContainer .colButtonStyle {
  background: rgba(255,255,255,0.1);
  text-align: center;
  margin: 0 2.5%;
  max-width: 45%;
}

#servicesImageContainer .serviceDescriptionTitleText {
  font-size: 2.2em;
  font-weight: 600;
}

#servicesImageContainer .serviceDescriptionText {
  font-size: 1em;
  font-weight: 400;
}

#servicesImageContainer .serviceLearnMoreText {
  font-size: 2em;
  text-align: center;
}

#servicesImageContainer .get-started {
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  letter-spacing: 0.05em;
  background: #fff;
  border-color: #fff;
  color: #f27126;
  padding: 6% 18%;
  border: 3px #fff solid;
  cursor: pointer;

}

#servicesImageContainer .get-started:hover {
  background: #f27126;
  color: #fff;
}

#servicesImageContainer .serviceButtonPosition {
  margin: 8% 0;
}

#servicesImageContainer .serviceButtonPosition:first-of-type {
  margin-top: 8%;
}

/******************************/
/* SERVICES RESPONSIVE STYLES */
/******************************/

@media (min-width: 576px) and (max-width: 768px) {

  #servicesContainer {
    height: 400px;
  }

  #servicesContainer h1 {
    font-size: 4em;
    padding-top: 120px;
  }

  #servicesContainer h2 {
    font-size: 1.67em;
    padding-top: 30px;
  }

}

@media (min-width: 350px) and (max-width: 575px) {

  #servicesContainer {
    height: 300px;
  }

  #servicesContainer h1 {
    font-size: 3em;
    padding-top: 90px;
  }

  #servicesContainer h2 {
    font-size: 1.25em;
    padding-top: 20px;
  }

}

@media (min-width: 0px) and (max-width: 349px) {

  #servicesContainer {
    height: 200px;
  }

  #servicesContainer h1 {
    font-size: 2em;
    padding-top: 60px;
  }

  #servicesContainer h2 {
    font-size: 1em;
    padding-top: 15px;
  }

}
