#servicesContainer {
  height: 60vh;
  width: 100%;

  /* Background with fallbacks */
  background: rgba(0, 0, 0, 0.5) url(../img/foundations-hero-big.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#servicesContainer h1 {
  font-size: 5em;
  font-family: "Gobold-Bold-Italic", arial, sans-serif;
  padding-top: 16vh;
  text-align: center;
}

#servicesContainer h1.lightText {
  text-shadow: 1px 1px 1px #000;
}

#servicesContainer h2 {
  font-size: 2.5em;
  font-family: "Oswald-Medium", arial, sans-serif;
  padding-top: 4vh;
  text-align: center;
}

#servicesContainer h2.lightText {
  text-shadow: 1px 1px 1px #000;
}

#servicesDescriptionContainer .row {
  background: #f27126;
}

#servicesDescriptionContainer .row h1 {
  font-family: "Oswald-SemiBold", arial, sans-serif;
  font-size: 2em;
  letter-spacing: 0.01em;
  color: #fff;
}

#servicesDescriptionContainer .row h2 {
  font-family: "Oswald-SemiBold", arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.02em;
  color: #fff;
}

#servicesDescriptionContainer .row h3 {
  font-family: "Oswald-SemiBold", arial, sans-serif;
  /* letter-spacing: 0.05em; */
  color: #fff;
  font-size: 1.8em;
}

#servicesDescriptionContainer .row h4 {
  font-family: "Oswald-SemiBold", arial, sans-serif;
  /* letter-spacing: 0.05em; */
  color: #fff;
  font-size: 1.1em;
}

#servicesDescriptionContainer .row.description {
  padding-top: 2vh;
}

#servicesDescriptionContainer .row.description-mid {
  background-color: #fff;
  color: #f27126;
}

#servicesDescriptionContainer .headerDivider {
   border-right: 2px solid #fff;
   height: 80px;
   margin: 10px 0;
}

/******/
#servicesDescriptionContainer .description-mid .headerDivider {
  border-right: 2px solid #f27126;
  height: 80px;
  margin: 10px 0;
}

#servicesDescriptionContainer .row.rowCTA {
  padding-top: 2vh;
}

#servicesDescriptionContainer .row.rowCTA h1 {
  color: #6d6e70;
}

#servicesDescriptionContainer .description-buttons {
  margin-top: 4%;
}

#servicesDescriptionContainer .place-hero-button-start,
#servicesDescriptionContainer .place-hero-button-learn {
  font-family: "Oswald-Medium", arial, sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  border-width: 3px;
  background-color: rgba(255,255,255);
  border-color: #fff;
  color: #fff;
  transition: 0.25s;
}

#servicesDescriptionContainer button {
  letter-spacing: 0.05em;
}

#servicesDescriptionContainer .service-area-top {
  height: 20vh;
  overflow-y: hidden;
}

#servicesDescriptionContainer .hi {
  height: 100px;
}

#servicesDescriptionContainer .yellow {
  background-color: yellow;
}
#servicesDescriptionContainer .blue {
  background-color: teal;
}
#servicesDescriptionContainer .purple {
  background-color: purple;
}
#servicesDescriptionContainer .green {
  background-color: green;
}


/******************************/
/* SERVICES RESPONSIVE STYLES */
/******************************/

@media (min-width: 576px) and (max-width: 768px) {

  #servicesContainer {
    height: 40vh;
  }

  #servicesContainer h1 {
    font-size: 4em;
    padding-top: 12vh;
  }

  #servicesContainer h2 {
    font-size: 1.67em;
    padding-top: 3vh;
  }

}

@media (min-width: 350px) and (max-width: 575px) {

  #servicesContainer {
    height: 30vh;
  }

  #servicesContainer h1 {
    font-size: 3em;
    padding-top: 9vh;
  }

  #servicesContainer h2 {
    font-size: 1.25em;
    padding-top: 2vh;
  }

}

@media (min-width: 0px) and (max-width: 349px) {

  #servicesContainer {
    height: 20vh;
  }

  #servicesContainer h1 {
    font-size: 2em;
    padding-top: 6vh;
  }

  #servicesContainer h2 {
    font-size: 1em;
    padding-top: 1.5vh;
  }

}
